l/lpq/CLF_20190618_pc/personal_loan.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--
Modification history:
5.224 - Added borrower_1_index, borrower_2_index, borrower_1_is_spouse, and borrower_2_is_spouse to the INSURNACE_OPTIONS node
5.223 - Added combined_secured_aggregate_amount_with_lender_no_mortgage
5.182 - Allowed multiple CURRENT_EMPLOYMENT nodes
5.171 - Change CLOSING_BRANCH type to type BASE_BRANCH
5.157 - Added MLA fields
5.150 - Added WebMS, LoanEvent History
5.144 - added employment_end_date to PREVIOUS_EMPLOYMENT
5.084 - Added combined_unsecured_aggregate_amount_with_lender
5.049 - Add rate_type to PERSONAL_LOAN_INFO
5.012 - Added down_payment
5.011 - Added is_hmda_manual field
5.003 - Added Contacts
5.002 - Initial version

-->
<xs:schema xmlns="http://www.meridianlink.com/CLF" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.meridianlink.com/CLF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="BaseTypes.xsd" />
  <xs:element name="PERSONAL_LOAN">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="PERSONAL_LOAN" />
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PERSONAL_APPLICANT">
    <xs:complexContent mixed="false">
      <xs:extension base="PERSONAL_BASE_APPLICANT">
        <xs:sequence>
          <xs:element minOccurs="0" name="SPOUSE" type="PERSONAL_BASE_APPLICANT" />
          <xs:element minOccurs="0" name="CREDIT_REPORT">
            <xs:annotation>
              <xs:documentation>
			  -If credit report data is empty applican'ts credit report won't be imported.
			  -If credit report's applicant-ssn mismatches the applicant's ssn credit report won't be imported.
			  -If spouse exists, then this MUST be a joint report. Otherwise, this will be a single applicant credit report.
			  </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:string">
                  <xs:attribute name="report_id" type="xs:int" use="required" />
                  <xs:attribute name="report_format" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="RAW_XML" />
                        <xs:enumeration value="MCL_COMMON" />
                        <xs:enumeration value="MISMO" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="encoding">
                    <xs:annotation>
                      <xs:documentation>Default is CDATA encoding.  This will allow clients to easily access data.  However, you cannot nest CDATA - hence if you use base64, then the credit report will be stored as base64 encoded text on the element.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="CDATA" />
                        <xs:enumeration value="INNER_TEXT" />
                        <xs:enumeration value="BASE64" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="FOM_ANSWERED_QUESTIONS" type="FOM_ANSWERED_QUESTIONS" />
        </xs:sequence>
        <xs:attribute name="is_fraud_credit" type="base_YN" />
        <xs:attribute name="is_ofac_credit" type="base_YN" />
        <xs:attribute name="combined_unsecured_aggregate_amount_with_lender" type="base_money" />
				<xs:attribute name="combined_secured_aggregate_amount_with_lender_no_mortgage" type="base_money" />
			</xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PERSONAL_BASE_APPLICANT">
    <xs:complexContent mixed="false">
      <xs:extension base="BASE_APPLICANT">
        <xs:sequence>
          <xs:element name="CURRENT_ADDRESS">
            <xs:annotation>
              <xs:documentation>
								If Applicant's Address is domestic, please use Address Choice of "LOOSE_ADDRESS".
								And "street_address_2" is currently not supported.

								But if Applicant's address is foreign, then "THREE_LINE_ADDRESS" should be used. In this case,
								all three attributes "street_address_1", "street_address_2", "street_address_3" are supported.
							</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:complexContent mixed="false">
                <xs:extension base="BASE_CURRENT_ADDRESS_CHOICE">
                  <xs:attributeGroup ref="GROUP_OCCUPANCY_STATUS_DURATION" />
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="PREVIOUS_ADDRESS">
            <xs:complexType>
              <xs:complexContent mixed="false">
                <xs:extension base="BASE_ADDRESS_LOOSE">
                  <xs:attributeGroup ref="GROUP_OCCUPANCY_STATUS_DURATION" />
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="MAILING_ADDRESS">
            <xs:annotation>
              <xs:documentation>
								If not specified, assumes mailing address = current address.
								For Mailing Address, both "street_address_1" and "street_address_2" are supported.
							</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:complexContent mixed="false">
                <xs:extension base="BASE_ADDRESS_LOOSE">
                  <xs:attribute default="Y" name="is_current" type="base_YN">
                    <xs:annotation>
                      <xs:documentation>If set to Y, then LPQ use values of current address AND any values for this element will be ignored.  Default is Y.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="FINANCIAL_INFO">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="CURRENT_EMPLOYMENT">
                  <xs:complexType>
                    <xs:complexContent mixed="false">
                      <xs:extension base="BASE_EMPLOYMENT">
                        <xs:attribute name="employee_of_lender_type" type="base_employee_of_lender_types" />
                        <xs:attribute name="is_employee_of_lender" type="base_YN">
                          <xs:annotation>
                            <xs:documentation>
															This property is readonly and comes from LPQ.  If you want to write an employee of lender status, please set the employee_of_lender_type.
														</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="profession_months" type="xs:integer" />
                      </xs:extension>
                    </xs:complexContent>
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="PREVIOUS_EMPLOYMENT">
                  <xs:complexType>
                    <xs:complexContent mixed="false">
                      <xs:extension base="BASE_EMPLOYMENT">
                        <xs:attribute name="monthly_income">
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="19" />
                              <xs:fractionDigits value="2" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="employment_end_date" type="xs:date" />
                      </xs:extension>
                    </xs:complexContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="MONTHLY_INCOME" type="BASE_MONTHLY_INCOME" />
                <xs:element name="MONTHLY_DEBT" type="BASE_MONTHLY_DEBT" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="2" name="REFERENCE" type="BASE_REFERENCE" />
          <xs:element name="CONTACT_INFO" type="BASE_CONTACT_INFO" />
          <xs:element minOccurs="0" name="ASSETS" type="BASE_ASSET_LIST" />
          <xs:element minOccurs="0" name="DECLARATIONS" type="DECLARATIONS" />
        </xs:sequence>
        <xs:attribute name="paper_grade" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PERSONAL_INSURANCE">
    <xs:complexContent mixed="false">
      <xs:extension base="BASE_INSURANCE">
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="CREDIT_LIFE" />
              <xs:enumeration value="CREDIT_DISABILITY" />
              <xs:enumeration value="DEBT_CANCELLATION" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PERSONAL_FUNDING_INFO">
    <xs:complexContent mixed="false">
      <xs:extension base="BASE_FUNDING_INFO">
        <xs:attributeGroup ref="GROUP_CUNA_FIELDS" />
        <xs:attribute name="first_payment_date" type="xs:date" />
        <xs:attribute name="funding_loan_term">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:maxInclusive value="999" />
              <xs:minInclusive value="0" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="funding_rate" type="base_rate" />
        <xs:attribute name="exact_monthly_payment">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19" />
              <xs:fractionDigits value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="exact_monthly_payment_original">
          <xs:annotation>
            <xs:documentation>Represents monthly payment without any price adjustments.  If price adjustments don't apply, this field should equal exact_monthly_payment.</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19" />
              <xs:fractionDigits value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="exact_last_monthly_payment">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19" />
              <xs:fractionDigits value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="additional_fees">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19" />
              <xs:fractionDigits value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="additional_fees_comment">
          <xs:simpleType>
            <xs:restriction base="xs:string" />
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="initial_balloon_amount">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19" />
              <xs:fractionDigits value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="funding_apr" type="base_rate" />
        <xs:attributeGroup ref="GROUP_INDEX_MARGIN_FLOOR_CEILING" />
        <xs:attribute name="index_type" type="xs:string" />
        <xs:attribute name="loc_amount" type="base_money" />
        <xs:attribute name="loc_expire_date" type="xs:date" />
        <xs:attribute name="initial_rate">
          <xs:simpleType>
            <xs:restriction base="base_rate" />
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="rate_expire_date">
          <xs:simpleType>
            <xs:restriction base="xs:date" />
          </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="GROUP_DOC_STAMPS_FIELDS" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PERSONAL_STATUS">
    <xs:complexContent mixed="false">
      <xs:extension base="BASE_LOAN_STATUS">
        <xs:attribute name="payoff_date" type="xs:date" />
        <xs:attribute name="amount_charge_off">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19" />
              <xs:fractionDigits value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PERSONAL_LOAN_INFO">
    <xs:complexContent mixed="false">
      <xs:extension base="BASE_LOAN_INFO">
        <xs:attribute name="personal_loan_type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="UNSECURE" />
              <xs:enumeration value="SECURE" />
              <xs:enumeration value="SHARES" />
              <xs:enumeration value="CD" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="purpose_type">
          <xs:annotation>
            <xs:documentation>This refers to the reason for taking out a personal loan.  Value is lender configured.  Some sample values: BUSINESS, STUDENT, OTHER</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string" />
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="amount_requested" type="base_money" />
        <xs:attribute name="loan_term">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:maxInclusive value="999" />
              <xs:minInclusive value="0" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="loan_term_requested">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:maxInclusive value="999" />
              <xs:minInclusive value="0" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="amount_approved">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19" />
              <xs:fractionDigits value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="rate">
          <xs:simpleType>
            <xs:restriction base="base_rate" />
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="rate_type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="F" />
              <xs:enumeration value="V" />
              <xs:enumeration value="S" />
              <xs:enumeration value="" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="monthly_payment">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19" />
              <xs:fractionDigits value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="purpose_description">
          <xs:simpleType>
            <xs:restriction base="xs:string" />
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="misc_implant">
          <xs:simpleType>
            <xs:restriction base="xs:string" />
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="extra_collateral_owner_1" type="xs:string" />
        <xs:attribute name="extra_collateral_owner_2" type="xs:string" />
        <xs:attribute name="is_LOC" type="base_YN">
          <xs:annotation>
            <xs:documentation>Is Line of Credit ? Assumed no if omitted.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="apr" type="base_rate" />
        <xs:attribute name="number_of_payments" type="xs:int" />
        <xs:attribute name="is_indirect_loan">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Y" />
              <xs:enumeration value="N" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="is_balloon">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Y" />
              <xs:enumeration value="N" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="is_overdraft">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Y" />
              <xs:enumeration value="N" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="payment_percent" type="xs:double" />
        <xs:attribute name="minimum_payment" type="xs:double" />
        <xs:attribute name="reserve_amount" type="xs:double" />
        <xs:attribute name="is_hmda" type="base_YN" />
        <xs:attribute name="is_hmda_manual" type="base_YN" />
        <xs:attribute name="amount_approved_variance" type="base_money" />
        <xs:attribute name="change_in_circumstances_date" type="xs:date" />
        <xs:attribute name="product_conversion_date" type="xs:date" />
        <xs:attribute name="is_advance_request" type="base_YN" />
        <xs:attribute name="down_payment" type="xs:double" />
				<xs:attribute name="is_calculate_mapr" type="base_YN" />
				<xs:attribute name="mapr" type="base_rate" />
			</xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PERSONAL_SYSTEM">
    <xs:complexContent mixed="false">
      <xs:extension base="BASE_SYSTEM">
        <xs:sequence>
          <xs:element minOccurs="0" name="CLOSING_BRANCH" type="BASE_BRANCH" />
        </xs:sequence>
        <xs:attribute name="type" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="LPQ" />
              <xs:enumeration value="DAPP" />
              <xs:enumeration value="OTHER" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PERSONAL_LOAN">
    <xs:complexContent mixed="false">
      <xs:extension base="APP">
        <xs:sequence>
          <xs:element name="APPLICANTS">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="APPLICANT" type="PERSONAL_APPLICANT" />
              </xs:sequence>
              <xs:attribute name="selected_product_borrower_id" use="optional">
                <xs:annotation>
                  <xs:documentation>Selected_product_borrower_id references the borrower_id attribute.  The applicant ID GUID is not saved.  Applicants are identified by the integer borrower_id attribute.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:element name="LOAN_INFO">
            <xs:complexType>
              <xs:complexContent mixed="false">
                <xs:extension base="PERSONAL_LOAN_INFO" />
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="PRICE_ADJUSTMENTS" type="BASE_PRICE_ADJUSTMENT_LIST" />
          <xs:element name="LOAN_STATUS" type="PERSONAL_STATUS" />
          <xs:element minOccurs="0" name="DISBURSEMENTS" type="BASE_DISBURSEMENT_LIST" />
          <xs:element minOccurs="0" name="TASK_LIST" type="BASE_TASK_LIST" />
          <xs:element name="FUNDING">
            <xs:complexType>
              <xs:complexContent mixed="false">
                <xs:extension base="PERSONAL_FUNDING_INFO">
                  <xs:sequence>
                    <xs:element name="INSURANCE_OPTIONS">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="INSURANCE_OPTION" type="PERSONAL_INSURANCE" />
                        </xs:sequence>
                        <xs:attribute name="loan_class">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="O" />
                              <xs:enumeration value="C" />
                              <xs:enumeration value="" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="description">
                          <xs:simpleType>
                            <xs:restriction base="xs:string" />
                          </xs:simpleType>
                        </xs:attribute>
												<xs:attribute name="borrower_1_index" type="xs:integer" />
												<xs:attribute name="borrower_1_is_spouse" type="xs:string" />
												<xs:attribute name="borrower_2_index" type="xs:integer" />
												<xs:attribute name="borrower_2_is_spouse" type="xs:string" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="CLOSE_END_INFO" type="BASE_CLOSE_END_INFO" />
                  </xs:sequence>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="COMMENTS">
            <xs:complexType>
              <xs:complexContent mixed="false">
                <xs:extension base="BASE_COMMENTS">
                  <xs:sequence>
                    <xs:element minOccurs="0" name="UNABLE_TO_FUND" />
                  </xs:sequence>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="CUSTOM_QUESTIONS" type="BASE_CUSTOM_QUESTIONS" />
          <xs:element minOccurs="0" name="CONTACTS" type="BASE_LOAN_CONTACTS" />
          <xs:element maxOccurs="unbounded" name="SYSTEM" type="PERSONAL_SYSTEM" />
          <xs:element minOccurs="0" name="HMDA_INFO" type="BASE_HMDA_INFO" />
          <xs:element minOccurs="0" name="INTEGRATION_DATA_LIST">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="INTEGRATION_DATA" type="INTEGRATION_DATA" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="MODIFICATION_HISTORY" type="BASE_MODIFICATION_HISTORY" />
          <xs:element minOccurs="0" name="EVENT_HISTORY" type="BASE_EVENT_HISTORY" />
          <xs:element minOccurs="0" name="WEBMS_HISTORY" type="BASE_WEBMS_HISTORY" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>